name: TechNova CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Tell the robot to go INTO your project folder to find package-lock.json
      - name: Install Dependencies
        run: |
          cd competion  # <--- Change 'competion' to your actual folder name
          npm install

      - name: Build Project
        run: |
          cd competion  # <--- Change this to match above
          npm run build --if-present
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}